/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="1"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -1px));
      -ms-transform: translateY(calc(var(--ssparallax) * -1px));
          transform: translateY(calc(var(--ssparallax) * -1px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="2"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -2px));
      -ms-transform: translateY(calc(var(--ssparallax) * -2px));
          transform: translateY(calc(var(--ssparallax) * -2px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="3"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -3px));
      -ms-transform: translateY(calc(var(--ssparallax) * -3px));
          transform: translateY(calc(var(--ssparallax) * -3px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="4"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -4px));
      -ms-transform: translateY(calc(var(--ssparallax) * -4px));
          transform: translateY(calc(var(--ssparallax) * -4px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="5"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -5px));
      -ms-transform: translateY(calc(var(--ssparallax) * -5px));
          transform: translateY(calc(var(--ssparallax) * -5px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="6"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -6px));
      -ms-transform: translateY(calc(var(--ssparallax) * -6px));
          transform: translateY(calc(var(--ssparallax) * -6px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="7"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -7px));
      -ms-transform: translateY(calc(var(--ssparallax) * -7px));
          transform: translateY(calc(var(--ssparallax) * -7px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="8"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -8px));
      -ms-transform: translateY(calc(var(--ssparallax) * -8px));
          transform: translateY(calc(var(--ssparallax) * -8px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="9"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -9px));
      -ms-transform: translateY(calc(var(--ssparallax) * -9px));
          transform: translateY(calc(var(--ssparallax) * -9px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="10"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -10px));
      -ms-transform: translateY(calc(var(--ssparallax) * -10px));
          transform: translateY(calc(var(--ssparallax) * -10px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="11"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -11px));
      -ms-transform: translateY(calc(var(--ssparallax) * -11px));
          transform: translateY(calc(var(--ssparallax) * -11px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="12"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -12px));
      -ms-transform: translateY(calc(var(--ssparallax) * -12px));
          transform: translateY(calc(var(--ssparallax) * -12px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="13"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -13px));
      -ms-transform: translateY(calc(var(--ssparallax) * -13px));
          transform: translateY(calc(var(--ssparallax) * -13px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="14"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -14px));
      -ms-transform: translateY(calc(var(--ssparallax) * -14px));
          transform: translateY(calc(var(--ssparallax) * -14px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="15"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -15px));
      -ms-transform: translateY(calc(var(--ssparallax) * -15px));
          transform: translateY(calc(var(--ssparallax) * -15px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="16"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -16px));
      -ms-transform: translateY(calc(var(--ssparallax) * -16px));
          transform: translateY(calc(var(--ssparallax) * -16px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="17"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -17px));
      -ms-transform: translateY(calc(var(--ssparallax) * -17px));
          transform: translateY(calc(var(--ssparallax) * -17px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="18"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -18px));
      -ms-transform: translateY(calc(var(--ssparallax) * -18px));
          transform: translateY(calc(var(--ssparallax) * -18px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="19"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -19px));
      -ms-transform: translateY(calc(var(--ssparallax) * -19px));
          transform: translateY(calc(var(--ssparallax) * -19px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="20"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -20px));
      -ms-transform: translateY(calc(var(--ssparallax) * -20px));
          transform: translateY(calc(var(--ssparallax) * -20px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="21"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -21px));
      -ms-transform: translateY(calc(var(--ssparallax) * -21px));
          transform: translateY(calc(var(--ssparallax) * -21px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="22"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -22px));
      -ms-transform: translateY(calc(var(--ssparallax) * -22px));
          transform: translateY(calc(var(--ssparallax) * -22px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="23"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -23px));
      -ms-transform: translateY(calc(var(--ssparallax) * -23px));
          transform: translateY(calc(var(--ssparallax) * -23px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="24"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -24px));
      -ms-transform: translateY(calc(var(--ssparallax) * -24px));
          transform: translateY(calc(var(--ssparallax) * -24px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="25"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -25px));
      -ms-transform: translateY(calc(var(--ssparallax) * -25px));
          transform: translateY(calc(var(--ssparallax) * -25px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="26"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -26px));
      -ms-transform: translateY(calc(var(--ssparallax) * -26px));
          transform: translateY(calc(var(--ssparallax) * -26px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="27"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -27px));
      -ms-transform: translateY(calc(var(--ssparallax) * -27px));
          transform: translateY(calc(var(--ssparallax) * -27px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="28"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -28px));
      -ms-transform: translateY(calc(var(--ssparallax) * -28px));
          transform: translateY(calc(var(--ssparallax) * -28px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="29"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -29px));
      -ms-transform: translateY(calc(var(--ssparallax) * -29px));
          transform: translateY(calc(var(--ssparallax) * -29px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="30"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -30px));
      -ms-transform: translateY(calc(var(--ssparallax) * -30px));
          transform: translateY(calc(var(--ssparallax) * -30px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="31"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -31px));
      -ms-transform: translateY(calc(var(--ssparallax) * -31px));
          transform: translateY(calc(var(--ssparallax) * -31px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="32"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -32px));
      -ms-transform: translateY(calc(var(--ssparallax) * -32px));
          transform: translateY(calc(var(--ssparallax) * -32px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="33"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -33px));
      -ms-transform: translateY(calc(var(--ssparallax) * -33px));
          transform: translateY(calc(var(--ssparallax) * -33px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="34"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -34px));
      -ms-transform: translateY(calc(var(--ssparallax) * -34px));
          transform: translateY(calc(var(--ssparallax) * -34px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="35"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -35px));
      -ms-transform: translateY(calc(var(--ssparallax) * -35px));
          transform: translateY(calc(var(--ssparallax) * -35px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="36"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -36px));
      -ms-transform: translateY(calc(var(--ssparallax) * -36px));
          transform: translateY(calc(var(--ssparallax) * -36px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="37"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -37px));
      -ms-transform: translateY(calc(var(--ssparallax) * -37px));
          transform: translateY(calc(var(--ssparallax) * -37px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="38"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -38px));
      -ms-transform: translateY(calc(var(--ssparallax) * -38px));
          transform: translateY(calc(var(--ssparallax) * -38px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="39"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -39px));
      -ms-transform: translateY(calc(var(--ssparallax) * -39px));
          transform: translateY(calc(var(--ssparallax) * -39px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="40"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -40px));
      -ms-transform: translateY(calc(var(--ssparallax) * -40px));
          transform: translateY(calc(var(--ssparallax) * -40px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="41"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -41px));
      -ms-transform: translateY(calc(var(--ssparallax) * -41px));
          transform: translateY(calc(var(--ssparallax) * -41px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="42"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -42px));
      -ms-transform: translateY(calc(var(--ssparallax) * -42px));
          transform: translateY(calc(var(--ssparallax) * -42px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="43"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -43px));
      -ms-transform: translateY(calc(var(--ssparallax) * -43px));
          transform: translateY(calc(var(--ssparallax) * -43px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="44"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -44px));
      -ms-transform: translateY(calc(var(--ssparallax) * -44px));
          transform: translateY(calc(var(--ssparallax) * -44px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="45"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -45px));
      -ms-transform: translateY(calc(var(--ssparallax) * -45px));
          transform: translateY(calc(var(--ssparallax) * -45px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="46"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -46px));
      -ms-transform: translateY(calc(var(--ssparallax) * -46px));
          transform: translateY(calc(var(--ssparallax) * -46px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="47"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -47px));
      -ms-transform: translateY(calc(var(--ssparallax) * -47px));
          transform: translateY(calc(var(--ssparallax) * -47px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="48"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -48px));
      -ms-transform: translateY(calc(var(--ssparallax) * -48px));
          transform: translateY(calc(var(--ssparallax) * -48px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="49"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -49px));
      -ms-transform: translateY(calc(var(--ssparallax) * -49px));
          transform: translateY(calc(var(--ssparallax) * -49px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="50"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -50px));
      -ms-transform: translateY(calc(var(--ssparallax) * -50px));
          transform: translateY(calc(var(--ssparallax) * -50px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="51"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -51px));
      -ms-transform: translateY(calc(var(--ssparallax) * -51px));
          transform: translateY(calc(var(--ssparallax) * -51px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="52"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -52px));
      -ms-transform: translateY(calc(var(--ssparallax) * -52px));
          transform: translateY(calc(var(--ssparallax) * -52px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="53"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -53px));
      -ms-transform: translateY(calc(var(--ssparallax) * -53px));
          transform: translateY(calc(var(--ssparallax) * -53px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="54"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -54px));
      -ms-transform: translateY(calc(var(--ssparallax) * -54px));
          transform: translateY(calc(var(--ssparallax) * -54px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="55"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -55px));
      -ms-transform: translateY(calc(var(--ssparallax) * -55px));
          transform: translateY(calc(var(--ssparallax) * -55px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="56"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -56px));
      -ms-transform: translateY(calc(var(--ssparallax) * -56px));
          transform: translateY(calc(var(--ssparallax) * -56px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="57"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -57px));
      -ms-transform: translateY(calc(var(--ssparallax) * -57px));
          transform: translateY(calc(var(--ssparallax) * -57px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="58"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -58px));
      -ms-transform: translateY(calc(var(--ssparallax) * -58px));
          transform: translateY(calc(var(--ssparallax) * -58px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="59"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -59px));
      -ms-transform: translateY(calc(var(--ssparallax) * -59px));
          transform: translateY(calc(var(--ssparallax) * -59px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="60"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -60px));
      -ms-transform: translateY(calc(var(--ssparallax) * -60px));
          transform: translateY(calc(var(--ssparallax) * -60px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="61"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -61px));
      -ms-transform: translateY(calc(var(--ssparallax) * -61px));
          transform: translateY(calc(var(--ssparallax) * -61px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="62"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -62px));
      -ms-transform: translateY(calc(var(--ssparallax) * -62px));
          transform: translateY(calc(var(--ssparallax) * -62px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="63"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -63px));
      -ms-transform: translateY(calc(var(--ssparallax) * -63px));
          transform: translateY(calc(var(--ssparallax) * -63px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="64"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -64px));
      -ms-transform: translateY(calc(var(--ssparallax) * -64px));
          transform: translateY(calc(var(--ssparallax) * -64px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="65"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -65px));
      -ms-transform: translateY(calc(var(--ssparallax) * -65px));
          transform: translateY(calc(var(--ssparallax) * -65px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="66"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -66px));
      -ms-transform: translateY(calc(var(--ssparallax) * -66px));
          transform: translateY(calc(var(--ssparallax) * -66px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="67"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -67px));
      -ms-transform: translateY(calc(var(--ssparallax) * -67px));
          transform: translateY(calc(var(--ssparallax) * -67px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="68"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -68px));
      -ms-transform: translateY(calc(var(--ssparallax) * -68px));
          transform: translateY(calc(var(--ssparallax) * -68px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="69"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -69px));
      -ms-transform: translateY(calc(var(--ssparallax) * -69px));
          transform: translateY(calc(var(--ssparallax) * -69px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="70"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -70px));
      -ms-transform: translateY(calc(var(--ssparallax) * -70px));
          transform: translateY(calc(var(--ssparallax) * -70px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="71"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -71px));
      -ms-transform: translateY(calc(var(--ssparallax) * -71px));
          transform: translateY(calc(var(--ssparallax) * -71px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="72"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -72px));
      -ms-transform: translateY(calc(var(--ssparallax) * -72px));
          transform: translateY(calc(var(--ssparallax) * -72px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="73"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -73px));
      -ms-transform: translateY(calc(var(--ssparallax) * -73px));
          transform: translateY(calc(var(--ssparallax) * -73px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="74"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -74px));
      -ms-transform: translateY(calc(var(--ssparallax) * -74px));
          transform: translateY(calc(var(--ssparallax) * -74px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="75"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -75px));
      -ms-transform: translateY(calc(var(--ssparallax) * -75px));
          transform: translateY(calc(var(--ssparallax) * -75px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="76"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -76px));
      -ms-transform: translateY(calc(var(--ssparallax) * -76px));
          transform: translateY(calc(var(--ssparallax) * -76px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="77"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -77px));
      -ms-transform: translateY(calc(var(--ssparallax) * -77px));
          transform: translateY(calc(var(--ssparallax) * -77px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="78"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -78px));
      -ms-transform: translateY(calc(var(--ssparallax) * -78px));
          transform: translateY(calc(var(--ssparallax) * -78px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="79"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -79px));
      -ms-transform: translateY(calc(var(--ssparallax) * -79px));
          transform: translateY(calc(var(--ssparallax) * -79px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="80"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -80px));
      -ms-transform: translateY(calc(var(--ssparallax) * -80px));
          transform: translateY(calc(var(--ssparallax) * -80px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="81"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -81px));
      -ms-transform: translateY(calc(var(--ssparallax) * -81px));
          transform: translateY(calc(var(--ssparallax) * -81px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="82"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -82px));
      -ms-transform: translateY(calc(var(--ssparallax) * -82px));
          transform: translateY(calc(var(--ssparallax) * -82px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="83"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -83px));
      -ms-transform: translateY(calc(var(--ssparallax) * -83px));
          transform: translateY(calc(var(--ssparallax) * -83px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="84"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -84px));
      -ms-transform: translateY(calc(var(--ssparallax) * -84px));
          transform: translateY(calc(var(--ssparallax) * -84px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="85"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -85px));
      -ms-transform: translateY(calc(var(--ssparallax) * -85px));
          transform: translateY(calc(var(--ssparallax) * -85px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="86"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -86px));
      -ms-transform: translateY(calc(var(--ssparallax) * -86px));
          transform: translateY(calc(var(--ssparallax) * -86px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="87"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -87px));
      -ms-transform: translateY(calc(var(--ssparallax) * -87px));
          transform: translateY(calc(var(--ssparallax) * -87px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="88"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -88px));
      -ms-transform: translateY(calc(var(--ssparallax) * -88px));
          transform: translateY(calc(var(--ssparallax) * -88px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="89"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -89px));
      -ms-transform: translateY(calc(var(--ssparallax) * -89px));
          transform: translateY(calc(var(--ssparallax) * -89px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="90"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -90px));
      -ms-transform: translateY(calc(var(--ssparallax) * -90px));
          transform: translateY(calc(var(--ssparallax) * -90px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="91"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -91px));
      -ms-transform: translateY(calc(var(--ssparallax) * -91px));
          transform: translateY(calc(var(--ssparallax) * -91px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="92"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -92px));
      -ms-transform: translateY(calc(var(--ssparallax) * -92px));
          transform: translateY(calc(var(--ssparallax) * -92px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="93"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -93px));
      -ms-transform: translateY(calc(var(--ssparallax) * -93px));
          transform: translateY(calc(var(--ssparallax) * -93px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="94"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -94px));
      -ms-transform: translateY(calc(var(--ssparallax) * -94px));
          transform: translateY(calc(var(--ssparallax) * -94px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="95"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -95px));
      -ms-transform: translateY(calc(var(--ssparallax) * -95px));
          transform: translateY(calc(var(--ssparallax) * -95px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="96"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -96px));
      -ms-transform: translateY(calc(var(--ssparallax) * -96px));
          transform: translateY(calc(var(--ssparallax) * -96px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="97"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -97px));
      -ms-transform: translateY(calc(var(--ssparallax) * -97px));
          transform: translateY(calc(var(--ssparallax) * -97px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="98"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -98px));
      -ms-transform: translateY(calc(var(--ssparallax) * -98px));
          transform: translateY(calc(var(--ssparallax) * -98px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="99"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -99px));
      -ms-transform: translateY(calc(var(--ssparallax) * -99px));
          transform: translateY(calc(var(--ssparallax) * -99px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }

/* line 2, src/scss/ssparallax.scss */
[data-ssparallax="100"] {
  -webkit-transform: translateY(calc(var(--ssparallax) * -100px));
      -ms-transform: translateY(calc(var(--ssparallax) * -100px));
          transform: translateY(calc(var(--ssparallax) * -100px));
  transition: -webkit-transform ease 220ms;
  transition: transform ease 220ms;
  transition: transform ease 220ms, -webkit-transform ease 220ms; }
